.heading1{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #5c768d;
}

.para{
    font-family: "Open Sans", sans-serif;
    color: #444;;
    text-align: justify;
    margin-bottom: 0%;
    line-height: 26px;


}




